@charset "UTF-8";

body {
  background-color: #212533;
  font: uni sans heavy;
}

input [type=button]{
  color: #212533;
  background-color: rgb(205, 223, 240);
}

/* Start CSS for Back Button*/

.back {
	float: left;
	margin-left: 5%;
}

#back-button {
	background: #697693;
	color: #ffffff;
	line-height: 3;
	width: 110%;
	border: 1px;
}

#theGameType {
	color: #c6e3ff;
	font-family: Helvetica, sans-serif;
	margin-left: 40%;
	margin-top: 1%;

}

#code {
	color: #c6e3ff;
	font-family: Helvetica, sans-serif;
	margin-left: 40%;
	margin-top: 1%;

}

#bracketName {
	color: #ffffff;
	font-family: Helvetica, sans-serif;
	margin-left: 40%;
	margin-top: 10%;
	font-size: 1.5em;
}

#editing-message {
	color: red;
	font-family: Helvetica, sans-serif;
	margin-top: 3%;
	margin-left: 5%;
}

/* End CSS for Back Button */

.wrapper {
  display: flex;
  height: 600px;
  justify-content: center;
  margin-top: 4%;
}

.item {
  display: flex;
  flex-direction: row-reverse;
  
}
.item p {
  padding: 12px;
  margin: 0;
  color: #212533;
  background-color: rgb(205, 223, 240);
}
.item-winner {
  position: relative;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.item-winner:after {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: #fff;
  transform: translateX(-100%);
}
.item-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-player {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.item-player:before {
  content: '';
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 50%;
  transform: translateX(100%);
  width: 25px;
  height: 2px;
}
.item-player:after {
  content: '';
  position: absolute;
  background-color: #fff;
  right: -25px;
  height: calc(50% + 22px);
  width: 2px;
  top: 50%;
}
.item-player:last-child:after {
  transform: translateY(-100%);
}
.item-player:only-child:after {
  display: none;
}
